---
layout: sassaparilla2 
---
<div id="posts">
<div class ="row-parent">
<div class="row">


<div class="colspan12-6 push 12-3 colspan8-6 push8-1 colspan6-6 colspan2-2  as-grid with-gutter">
  
  <article>
      {{content}}

      <footer>
            <p><a href="{{ page.url }}">{{ page.title }}</a> 
              <span>({{ page.date | date:"%Y-%m-%d" }})</span>
            </p>
            <p>
              {{ page.tags | array_to_sentence_string }}</p>
      </footer>

      
    </article>

</div>

</div>
</div>
</div>
