<!doctype html>
<!--[if lt IE 9 ]> <html lang="en-GB" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-GB" class="no-js"> <!--<![endif]-->
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="viewport" content="initial-scale=1">

                <title>Moontoad: {{ page.title }}</title>
                <link href="/css/raindance.css" rel="stylesheet" type="text/css" media="all"/>                
                <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
                <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        </head>

        <body>

<div class="container">

<header id="soliloquy">
<h1>MoonToad</h1>
<p>Late Spring. Bee Box. Rain Dance. New Tribe. Spaghetti 
  Western. Flash Floods and Longing. Gardens.
  Objects  (boring, otherwise). Paint. Descriptive Living. 
  Ryokan. Backpacks.
</p>
<nav>
  <ul>
    <li><a href="/raindance">Rain Dance</a></li>
    <li><a href="/advntr">Adventure</a></li>
    <li><a href="/objects">Objects</a></li>
  </ul>
</nav>
</header>


<div >
  {{ content }}
</div>

<footer>
  <ul id="works">
    <li><a href="/nocturnalCaffine">Nocturnal Caffine</a></li>
    <li><a href="/cyclumLunarem">Cyclum Lunarem</a></li>
    <li><a href="/springsAndIngle">Drinking Water & Fire</a></li>
    <li>Monster Friends</li>
    <li>Animal Automaton</li>
    <li>Drawings</li>
    <li>Oil Cans</li>
  </ul>
 
  <ul id="adventure">
    <li>Grand Enchantment Trail</li>
    <li><a href="/hereBeDragons">Here Be Dragons</a></li>
    <li>Himalaya + Enfield</li>
    <li>Gila Wilderness</li>
    <li>San Mateo Mountains</li>
    <li>Bikepacking</li>
  </ul>
  
  <ul id="life">
    <li>Gardening</li>
    <li>Tools</li>
    <li>Hitch Hiking</li>
  </ul>
  
  <ul id="spark">
    <li>Gardening</li>
    <li>Tools</li>
    <li>Hitch Hiking</li>
  </ul>
 
  <ul id="places">
    <li><a rel="external" href="https://twitter.com/hmsp">Twitter</a></li>
    <li><a rel="external" href="http://newtribetextiles.net/">New Tribe Textiles</a></li>
    <li><a rel="external" href="http://bluecornloom.net/">Blue Corn Loom</a></li>
  </ul>
 
<p id="legal">All content licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" alt="">Creative Commons</a>.</p>
</footer>
</div>



                <!-- TODO: Select version of jquery and link to CDN -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="assets/js/script.min.js"></script>
        </body>
</html>
