<!doctype html>
<!--[if lt IE 9 ]> <html lang="en-GB" class="no-js lt-ie9"> <![endif]-->
<!--[if IE 9 ]> <html lang="en-GB" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-GB" class="no-js"> <!--<![endif]-->
        <head>
                <meta charset="utf-8">
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
                <meta name="viewport" content="initial-scale=1">

                <title>Moontoad: {{ page.title }}</title>
                <link href="/css/screen.css" rel="stylesheet" type="text/css" media="all"/>
                <link href="/css/demo.css" rel="stylesheet" type="text/css" media="all"/>                
                <link rel="shortcut icon" type="image/ico" href="favicon.ico" />
                <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
        </head>

        <body>

                
        <header class="global-header">
        <div class="row">
                <h1 class="global-logo colspan12-6 colspan8-4 colspan6-3 colspan2-1 as-grid"><a href="/">moontoad</a></h1>
                <nav class="global-header__navigation colspan12-6 colspan8-4 colspan6-3 colspan2-1 as-grid">
                        <ul>
                                <li><a href="http://twitter.com/hmsp">Twitter</a></li>
                                <li><a href="http://tumblr.moontoad.net">Tumblr</a></li>
                                <li><a href="http://moontoad.storenvy.com/">Shop</a></li>
                        </ul>
                </nav>
        </div>
</header>

<div class="site-content">
  {{ content }}
</div>
        <footer class="global-footer is-typeset">
        <div class="row-parent">
                <div class="row">
                        <section class="row__colspaced">
                                <div class="colspan12-8 colspan8-5 colspan6-4 colspan2-2 as-grid with-gutter">
                                        <h3>Adventure Forest</h3>
                                        <p>Moontoad aleviates retina pain with the lest possible side effects.</p>
                                        <p>Formerly we were nomads, now we are gardiners, catcher of bees and artisans basking in the glorius sun of the Chihuahuan desert.</p>
                                        <p>This is large, sprawling mass of my life</p>
                                </div>
                                <div class="colspan12-3 push12-1 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
                                        <span class="fff-svg"></span>
                                </div>
                        </section>
                </div>
        </div>

        <div class="row-parent">
                <div class="row">
                        <section class="row__colspaced">
                                <div class="colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
                                        <div class="col__module">
                                          <h4>Projects</h4>
                                          <ul>
                                            <li><a href="/nocturnalCaffine">Nocturnal Caffine</a></li>
                                            <li><a href="cyclumLunarem">Cyclum Lunarem</a></li>
                                            <li><a href="/springsAndIngle">Springs & Ingle</a></li>
                                            <li>Monster Friends</li>
                                            <li>Animal Automaton</li>
                                            <li>Drawings</li>
                                            <li>Oil Cans</li>
                                          </ul>
                                        </div>
                                </div>
                                <div class="colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
                                        <div class="col__module">
                                        
                                          <h4>Adventure</h4>
                                          <ul>
                                            <li>Grand Enchantment Trail</li>
                                            <li><a href="/hereBeDragons">Here Be Dragons</a></li>
                                            <li>Himalaya + Enfield</li>
                                            <li>Gila Wilderness</li>
                                            <li>San Mateo Mountains</li>
                                            <li>Bikepacking</li>
                                          </ul>
                                        </div>
                                </div>
                                <div class="colspan12-4 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter">
                                        <div class="col__module">
                                                <h4>Elsewhere</h4>
                                                <ul>
                                                        <li><a rel="external" href="https://twitter.com/hmsp">Twitter</a></li>
                                                        <li><a rel="external" href="https://www.facebook.com/">Soon a Facebook</a></li>
                                                        <li><a rel="external" href="https://newtribetextiles.net/">New Tribe Textiles</a></li>
                                                        <li><a rel="external" href="https://bluecornloom.net/">Blue Corn Loom</a></li>
                                                </ul>
                                        </div>
                                </div>
                        </section>
                </div>
        </div>
        <div class="row">
                <div class="colspan2-2">
                  <p class="legal">All content licensed under <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" alt="">Creative Commons</a>.  I use Sassaparilla by fffunction which is licensed under a <a rel="license" href="http://opensource.org/licenses/MIT">The MIT License (MIT)</a>.</p>
                </div>
        </div>
</footer>
                <!-- TODO: Select version of jquery and link to CDN -->
                <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
                <script src="assets/js/script.min.js"></script>
        </body>
</html>
